/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.editor {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.view {
    width: 80%;
}

#glCanvas {
    width: 100%;
    display: block;
}

.log {

}

.controls {
    width: 20%;
    height: 100%;
}

.control {
    background-color: red;
    height: 100px;
}


.page__container {
    background-color: red;
    display: flex;
}

.menu {
    background-color: #757474;
    font-size: 14px;
    height: 680px;
    padding: 10px;
    width: 244px;
}

.figure-controller__button--wrapper {
    border: #ffffff 1px solid;
    display: block;
    margin: 10px 0 0 0;
    padding: 5px;
}

.figure-controller__button--label {
    display: inline-block;
}

.menu__model-submitter--input {
    border: #ffffff 1px solid;
    padding: 7px;
    width: 210px;
}

#logr {
    white-space: pre-wrap;
}
