html {
  height: 100%;
  min-width: 1280px;
  background-color: black;
  cursor: default;
}
html body {
  height: calc(100% - 10px);
  margin: 2px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: #d0d0d0;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
html body .page {
  height: 100%;
}
html body .page .menu {
  width: 100%;
  display: flex;
  background-color: #000000;
}
html body .page .menu #logo {
  height: 22px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
html body .page .menu .dropdown {
  position: relative;
  display: inline-block;
}
html body .page .menu .dropdown .dropbtn {
  height: 22px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
html body .page .menu .dropdown .dropbtn:hover {
  background-color: #1a6bc1;
  cursor: pointer;
}
html body .page .menu .dropdown .dropbtn:active {
  background-color: #17395d;
  cursor: pointer;
}
html body .page .menu .dropdown .dropdown-content {
  width: max-content;
  min-width: 160px;
  display: none;
  position: absolute;
  background-color: #131111;
  z-index: 1;
}
html body .page .menu .dropdown .dropdown-content .dropdown-content--item {
  height: 24px;
  display: block;
  padding: 4px 10px 4px 10px;
  text-decoration: none;
  color: #d0d0d0;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: left;
}
html body .page .menu .dropdown .dropdown-content .dropdown-content--item:hover {
  background-color: #1a6bc1;
  cursor: pointer;
}
html body .page .menu .dropdown .dropdown-content .dropdown-content--item:active {
  background-color: #17395d;
  cursor: pointer;
}
html body .page .menu .dropdown .dropdown-content__last {
  border-bottom: none;
}
html body .page .menu .dropdown .dropdown-show {
  display: block;
}
html body .page .menu .single-button {
  height: 22px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
html body .page .menu .single-button:hover {
  background-color: #1a6bc1;
  cursor: pointer;
}
html body .page .menu .single-button:active {
  background-color: #17395d;
  cursor: pointer;
}
html body .page .editor {
  width: 100%;
  height: calc(100% - 22px);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
html body .page .editor .view {
  width: 80%;
  height: 100%;
}
html body .page .editor .view #glCanvas {
  width: 100%;
  height: 85%;
  display: block;
}
html body .page .editor .view .log {
  height: 15%;
  width: calc(100% - 4px);
  margin: 2px 0 2px 0;
  background-color: #131111;
  padding: 2px;
}
html body .page .editor .view .log .log__content {
  height: 100%;
  overflow: auto;
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
}
html body .page .editor .view .log .log__content .log__content--error {
  color: #AA1111;
  font-size: 15px;
}
html body .page .editor .controls {
  width: 20%;
  height: 100%;
}
html body .page .editor .controls .control {
  background-color: #131111;
  margin: 0 0 2px 2px;
  padding: 4px;
}
html body .page .editor .controls .control .control-title {
  background-color: #000000;
  padding: 4px 0 4px 4px;
  color: #716f6f;
}
html body .page .editor .controls .control .control-element .control-element--container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  padding-left: 4px;
  padding-right: 4px;
}
html body .page .editor .controls .control .control-element .control-operation--stats {
  margin-top: 4px;
  padding-left: 4px;
}
html body .page .editor .controls .control .control-element__scrollable {
  overflow-y: scroll;
  height: 160px;
}
html body .page .editor .controls .control .control-element__file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
html body .page .editor .controls .submit-button {
  width: 100%;
  height: 30px;
  background-color: #000000;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #17395d;
  display: flex;
  justify-content: center;
  align-items: center;
}
html body .page .editor .controls .submit-button:hover {
  background-color: #1a6bc1;
  cursor: pointer;
}
html body .page .editor .controls .submit-button:active {
  background-color: #17395d;
  cursor: pointer;
}
html body .page .editor .controls .figure-controller-item {
  height: 24px;
  background-color: #131111;
  border: 1px solid #17395d;
  margin-top: 4px;
  padding-left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: left;
  justify-content: space-between;
  border: none;
  padding-right: 4px;
}
html body .page .editor .controls .figure-controller-item:hover {
  background-color: #1a6bc1;
  cursor: pointer;
}
html body .page .editor .controls .figure-controller-item .figure-controller-item-title {
  margin-left: 4px;
}
html body .page .editor .controls .figure-controller-item:hover {
  background-color: #1a6bc1;
  cursor: pointer;
}
html body .page .editor .controls .control-operation-item {
  height: 24px;
  background-color: #131111;
  border: 1px solid #17395d;
  margin-top: 4px;
  padding-left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: left;
}
html body .page .editor .controls .control-operation-item:hover {
  background-color: #1a6bc1;
  cursor: pointer;
}
html body .page .editor .controls .control-operation-item .control-operation-item-title {
  margin-left: 4px;
}
html body .page .editor .controls .control-selection__empty {
  margin-top: 4px;
  padding-left: 4px;
}

/*# sourceMappingURL=style.css.map */
