
$color-light-gray: #D3D3D3;
$color-dark-gray: #D9D9D9;
$color-silver: #C0C0C0;

$font-helvetica: "Trebuchet MS", Helvetica, sans-serif;
$font-courier: "Courier New", Courier, monospace;

$control--background-color: $color-light-gray;
$control-title--background-color: $color-silver;


html {
  height: 100%;

  body {
    height: calc(100% - 10px);
    margin: 2px;
    font-family: $font-helvetica;
    box-sizing: border-box;

    .editor {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      height: 100%;

      .view {
        width: 80%;
        height: 100%;

        #glCanvas {
          width: 100%;
          height: 80%;
          display: block;
        }

        .log {
          height: 20%;
          width: calc(100% - 4px);
          margin: 2px 0 2px 0;
          background-color: $color-light-gray;
          padding: 2px;

          .log--content {
            height: 100%;
            overflow: auto;
            font-family: $font-courier;
          }
        }
      }

      .controls {
        width: 20%;
        height: 100%;

        .control {
          background-color: $control--background-color;
          margin: 0 0 2px 2px;
          padding: 4px;
        }

        .control-title {
          background-color: $control-title--background-color;
          padding-left: 4px;
        }

        .control-element {
          padding-top: 4px;
        }
      }
    }
  }
}
