$color-light-black: #131111;
$color-dark-black: #000000;
$color-light-blue: #1a6bc1;
$color-dark-blue: #17395d;

$font-helvetica: "Trebuchet MS", Helvetica, sans-serif;
$font-courier: "Courier New", Courier, monospace;
$font-color: #d0d0d0;
$error-font-color: #AA1111;

$border-list-item: 1px solid $color-dark-blue;
$border-menu-item: 1px solid $color-light-blue;

$height-list-item: 24px;

$control--background-color: $color-light-black;
$control-title--background-color: $color-dark-black;
$control-title-font-color: #716f6f;

@mixin centered-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin hover-effect {
  background-color: $color-light-blue;
  cursor: pointer;
}

@mixin active-effect {
  background-color: $color-dark-blue;
  cursor: pointer;
}

@mixin list-item {
  height: $height-list-item;
  background-color: $color-light-black;
  border: $border-list-item;
  margin-top: 4px;
  padding-left: 4px;

  // override centered-text
  @include centered-text;
  justify-content: left;

  &:hover {
    @include hover-effect;
  }
}

@mixin menu-top-item {
  height: 22px;
  padding-left: 10px;
  padding-right: 10px;
  @include centered-text;

  &:hover {
    @include hover-effect;
  }

  &:active {
    @include active-effect;
  }
}


html {
  height: 100%;
  min-width: 1280px;
  background-color: black;
  cursor: default;

  body {
    height: calc(100% - 10px);
    margin: 2px;
    font-family: $font-helvetica;
    color: $font-color;
    box-sizing: border-box;

    // disable text selection. its an editor after all :)
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    .page {
      height: 100%;

      .menu {
        width: 100%;
        display: flex;
        background-color: $color-dark-black;

        #logo {
          height: 22px;
          padding-left: 10px;
          padding-right: 10px;
          @include centered-text;
        }

        .dropdown {
          position: relative;
          display: inline-block;

          .dropbtn {
            @include menu-top-item;
          }

          .dropdown-content {
            width: max-content;
            min-width: 160px;
            display: none;
            position: absolute;
            background-color: $color-light-black;
            z-index: 1;

            .dropdown-content--item {
              height: 24px;
              display: block;
              padding: 4px 10px 4px 10px;
              text-decoration: none;
              color: $font-color;

              // override centered-text
              @include centered-text;
              justify-content: left;

              &:hover {
                @include hover-effect;
              }

              &:active {
                @include active-effect;
              }
            }
          }

          .dropdown-content__last {
            border-bottom: none;
          }

          .dropdown-show {
            display: block;
          }
        }

        .single-button {
          @include menu-top-item;
        }
      }

      .editor {
        width: 100%;
        height: calc(100% - 22px); // 100% - menu.height
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;

        .view {
          width: 80%;
          height: 100%;

          #glCanvas {
            width: 100%;
            height: 85%;
            display: block;
          }

          .log {
            height: 15%;
            width: calc(100% - 4px);
            margin: 2px 0 2px 0;
            background-color: $color-light-black;
            padding: 2px;

            .log__content {
              height: 100%;
              overflow: auto;
              font-family: $font-courier;
              font-size: 14px;

              .log__content--error {
                color: $error-font-color;
                font-size: 15px;
              }
            }
          }
        }

        .controls {
          width: 20%;
          height: 100%;

          .control {
            background-color: $control--background-color;
            margin: 0 0 2px 2px;
            padding: 4px;

            .control-title {
              background-color: $control-title--background-color;
              padding: 4px 0 4px 4px;
              color: $control-title-font-color;
            }

            .control-element {
              //padding-left: 4px;

              .control-element--container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-top: 10px;
                padding-left: 4px;
                padding-right: 4px;
              }

              .control-operation--stats {
                margin-top: 4px;
                padding-left: 4px;
              }
            }

            .control-element__scrollable {
              overflow-y: scroll;
              height: 160px;
            }

            .control-element__file {
              width: 0.1px;
              height: 0.1px;
              opacity: 0;
              overflow: hidden;
              position: absolute;
              z-index: -1;
            }
          }

          .submit-button {
            width: 100%;
            height: 30px;
            background-color: $color-dark-black;
            margin-top: 10px;
            margin-bottom: 10px;
            border: $border-list-item;
            @include centered-text;

            &:hover {
              @include hover-effect;
            }

            &:active {
              @include active-effect;
            }
          }

          .figure-controller-item {
            @include list-item;
            justify-content: space-between;
            border: none;
            padding-right: 4px;

            .figure-controller-item-title {
              margin-left: 4px;
            }

            &:hover {
              @include hover-effect;
            }
          }

          .control-operation-item {
            @include list-item;

            .control-operation-item-title {
              margin-left: 4px;
            }
          }

          .control-selection__empty {
            margin-top: 4px;
            padding-left: 4px;
          }
        }
      }
    }
  }
}
